services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: clinicnotes-sql
    platform: linux/amd64
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1433:1433"
    volumes:
      - ./sql:/scripts
      - sqlserver-data:/var/opt/mssql

volumes:
  sqlserver-data:
